/* DataTable New Improved Custom Style */

div[id*="cmc_"].dataTables_wrapper table.dataTable {
    clear: both;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    max-width: none !important;
    min-width: 100% !important;
    border-collapse: separate !important;
    table-layout: auto !IMPORTANT;
    box-sizing: border-box !IMPORTANT;
    background: #fff;
    padding: 0;
	border-radius:0px;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable td,
div[id*="cmc_"].dataTables_wrapper table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    white-space: unset;
    vertical-align: middle;
    padding: 7px;
    text-align: center;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable td a,
div[id*="cmc_"].dataTables_wrapper table.dataTable th a {
    text-decoration: none;
    box-shadow: none;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable td.dataTables_empty,
div[id*="cmc_"].dataTables_wrapper table.dataTable th.dataTables_empty {
    text-align: center;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable.nowrap th,
div[id*="cmc_"].dataTables_wrapper table.dataTable.nowrap td {
    white-space: nowrap;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable th {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable td {
    font-size: 14px;
    border-right: 0!Important;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_length {
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin: 10px 0 15px;
    height: 40px;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    font-size: 14px;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_length select {
    width: 55px !important;
    display: inline-block !important;
    height: 40px !important;
    border: 1px solid #dedede;
    background: #f7f7f7;
    border-radius: 3px;
    color: #222;
    font-size: 14px;
	-moz-appearance:menulist !IMPORTANT; /* Firefox */
    -webkit-appearance:menulist !IMPORTANT; /* Safari and Chrome */
    appearance:menulist !IMPORTANT;
    padding: 5px;

}

div[id*="cmc_"].dataTables_wrapper div.dataTables_filter {
    display: inline-block;
    float: right;
    margin: 10px 0;
    height: 40px;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    font-size: 14px;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    width: 200px !important;
    display: inline-block !important;
    height: 40px !important;
    border: 1px solid #dedede;
    background: #f7f7f7;
    border-radius: 3px;
    color: #222;
    font-size: 14px;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_paginate {
    margin: 20px 0 10px;
    white-space: unset;
    text-align: right;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_paginate a.paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1em;
    padding: 0.2em 0.8em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    font-size: 15px;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_paginate a.paginate_button:hover {
    color: white !important;
    border: 1px solid #111;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_paginate a.paginate_button.current,
div[id*="cmc_"].dataTables_wrapper div.dataTables_paginate a.paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #cecece;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_asc,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_desc {
    background-image: none !IMPORTANT;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable thead>tr>th.sorting_asc,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead>tr>th.sorting_desc,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead>tr>th.sorting {
    padding-right: 24px;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable thead>tr>th:active,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead>tr>td:active,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead>tr>th:focus,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead>tr>td:focus {
    outline: none !important;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_asc,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_desc,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_asc_disabled,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting:after,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_asc:after,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_desc:after,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_asc_disabled:after,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: calc(50% - 10px) !important;
    display: block;
    opacity: 0.3;
    font-size: 13px;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting:before,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_asc:before,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_desc:before,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_asc_disabled:before,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_desc_disabled:before {
    display: none !Important;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting:after,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_asc:after,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_desc:after,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_asc_disabled:after,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting:after,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_asc_disabled:after,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_desc_disabled:after {
    content: "\21F3";
}

div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_asc:after {
    content: "\21E7";
}

div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_desc:after {
    content: "\21E9";
}

div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_asc:after,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_desc:after {
    opacity: 1;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_asc_disabled:before,
div[id*="cmc_"].dataTables_wrapper table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0;
}

div[id*="cmc_"].dataTables_wrapper .DTFC_LeftBodyWrapper table.dataTable thead .sorting:after,
div[id*="cmc_"].dataTables_wrapper .DTFC_LeftBodyWrapper table.dataTable thead .sorting_asc:after,
div[id*="cmc_"].dataTables_wrapper .DTFC_LeftBodyWrapper table.dataTable thead .sorting_desc:after {
    display: none !important;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_scrollBody table thead .sorting:after,
div[id*="cmc_"].dataTables_wrapper div.dataTables_scrollBody table thead .sorting_asc:after,
div[id*="cmc_"].dataTables_wrapper div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_scrollBody table tbody tr:first-child th,
div[id*="cmc_"].dataTables_wrapper div.dataTables_scrollBody table tbody tr:first-child td {
    border-top: none;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_scrollFoot>.dataTables_scrollFootInner {
    box-sizing: content-box;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_scrollFoot>.dataTables_scrollFootInner>table {
    margin-top: 0 !important;
    border-top: none;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable.table-sm>thead>tr>th {
    padding-right: 20px;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable.table-sm .sorting:before,
div[id*="cmc_"].dataTables_wrapper table.dataTable.table-sm .sorting_asc:before,
div[id*="cmc_"].dataTables_wrapper table.dataTable.table-sm .sorting_desc:before {
    top: 5px;
    right: 0.85em;
}

div[id*="cmc_"].dataTables_wrapper table.dataTable.table-sm .sorting:after,
div[id*="cmc_"].dataTables_wrapper table.dataTable.table-sm .sorting_asc:after,
div[id*="cmc_"].dataTables_wrapper table.dataTable.table-sm .sorting_desc:after {
    top: 5px;
}

div[id*="cmc_"].dataTables_wrapper table.table-bordered.dataTable th,
div[id*="cmc_"].dataTables_wrapper table.table-bordered.dataTable td {
    border-left-width: 0;
}

div[id*="cmc_"].dataTables_wrapper table.table-bordered.dataTable th:last-child,
div[id*="cmc_"].dataTables_wrapper table.table-bordered.dataTable th:last-child,
div[id*="cmc_"].dataTables_wrapper table.table-bordered.dataTable td:last-child,
div[id*="cmc_"].dataTables_wrapper table.table-bordered.dataTable td:last-child {
    border-right-width: 0;
}

div[id*="cmc_"].dataTables_wrapper table.table-bordered.dataTable tbody th,
div[id*="cmc_"].dataTables_wrapper table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
}

div[id*="cmc_"].dataTables_wrapper div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0;
}

div[id*="cmc_"].dataTables_wrapper div.table-responsive>div.dataTables_wrapper>div.row {
    margin: 0;
}

div[id*="cmc_"].dataTables_wrapper div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child {
    padding-left: 0;
}

div[id*="cmc_"].dataTables_wrapper div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
    padding-right: 0;
}


/*Fixed Colums dataTables */

div[id*="cmc_"].dataTables_wrapper table.DTFC_Cloned tr.even {
    background-color: white;
    margin-bottom: 0;
}

div[id*="cmc_"].dataTables_wrapper .DTFC_LeftHeadWrapper table {
    border-bottom: none !important;
    margin-bottom: 0 !important;
    background-color: white;
}

div[id*="cmc_"].dataTables_wrapper .DTFC_LeftBodyWrapper table {
    border-top: none;
    margin: 0 !important;
}

div[id*="cmc_"].dataTables_wrapper .DTFC_LeftBodyWrapper table tbody tr:first-child th,
div[id*="cmc_"].dataTables_wrapper .DTFC_LeftBodyWrapper table tbody tr:first-child td {
    border-top: none;
}

div[id*="cmc_"].dataTables_wrapper .DTFC_LeftFootWrapper table {
    border-top: none;
    margin-top: 0 !important;
    background-color: white;
}

div[id*="cmc_"].dataTables_wrapper table.DTFC_Cloned thead,
div[id*="cmc_"].dataTables_wrapper table.DTFC_Cloned tfoot {
    background-color: white;
}

div[id*="cmc_"].dataTables_wrapper div.DTFC_Blocker {
    background-color: white;
}

div[id*="cmc_"].dataTables_wrapper div.DTFC_LeftWrapper table.dataTable,
div[id*="cmc_"].dataTables_wrapper div.DTFC_RightWrapper table.dataTable {
    margin-bottom: 0;
    z-index: 2;
}

div[id*="cmc_"].dataTables_wrapper div.DTFC_LeftWrapper table.dataTable.no-footer,
div[id*="cmc_"].dataTables_wrapper div.DTFC_RightWrapper table.dataTable.no-footer {
    border-bottom: none;
}

div[id*="cmc_"].dataTables_wrapper .DTFC_LeftBodyLiner {
    overflow: hidden !Important;
}

div[id*="cmc_"].dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

div[id*="cmc_"].dataTables_wrapper .dataTables_scroll {
    width: calc(100% - 1px);
    overflow: hidden;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0px 5px -3px #222;
}

div[id*="cmc_"].dataTables_wrapper .DTFC_LeftBodyWrapper table,
div[id*="cmc_"].dataTables_wrapper .DTFC_LeftHeadWrapper table {
    table-layout: auto !IMPORTANT;
    box-sizing: border-box !IMPORTANT;
    background-color: #fff !important;
}

div[id*="cmc_"].dataTables_wrapper .dataTables_scrollBody,
div[id*="cmc_"].dataTables_wrapper .dataTables_scrollHead,
div[id*="cmc_"].dataTables_wrapper .dataTables_scrollBody table,
div[id*="cmc_"].dataTables_wrapper .dataTables_scrollHead table {
    width: 100% !important;
    overflow-y: hidden !Important;
    box-sizing: content-box !IMPORTANT;
}

div[id*="cmc_"].dataTables_wrapper .DTFC_RightWrapper {
    display: none;
}

div[id*="cmc_"].dataTables_wrapper table td:nth-of-type(1),
div[id*="cmc_"].dataTables_wrapper table th:nth-of-type(1) {
    width: 20px !important;
    text-align: center;
    white-space: nowrap;
}

div[id*="cmc_"].dataTables_wrapper table td:nth-of-type(2),
div[id*="cmc_"].dataTables_wrapper table th:nth-of-type(2) {
    min-width: 75px !important;
    max-width: 110px !Important;
    width: 110px;
    white-space: unset;
    word-wrap: break-word;
}

div[id*="cmc_historical"].dataTables_wrapper table td:nth-of-type(1),
div[id*="cmc_historical"].dataTables_wrapper table th:nth-of-type(1),
div[id*="cmc_historical"].dataTables_wrapper table td:nth-of-type(2),
div[id*="cmc_historical"].dataTables_wrapper table th:nth-of-type(2),
div[id*="cmc_top-gainer-lossers"].dataTables_wrapper table td:nth-of-type(1),
div[id*="cmc_top-gainer-lossers"].dataTables_wrapper table th:nth-of-type(1),
div[id*="cmc_top-gainer-lossers"].dataTables_wrapper table td:nth-of-type(2),
div[id*="cmc_top-gainer-lossers"].dataTables_wrapper table th:nth-of-type(2) {
    width: auto !important;
}


/* DataTable New Improved Custom Style END */

.DTFC_RightWrapper {
    display: none;
}

.cmc-sparkline-charts[data-content=""] {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: monospace;
}

#jqstooltip {
    display: table !IMPORTANT;
    padding: 2px !IMPORTANT;
}

.top-scroll-wrapper {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 20px;
    cursor: pointer;
    margin-bottom: -10px;
}

.top-scroll {
    display: inline-block;
    height: 20px;
    cursor: pointer;
}

.top-scroll-wrapper::-webkit-scrollbar {
    cursor: pointer;
}

.top-scroll-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.top-scroll-wrapper::-webkit-scrollbar-thumb {
    background: #999;
}

.top-scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.cmc-chart {
    width: 100%;
    height: 500px;
    margin: 30px auto;
    display: inline-block;
}

#cmc-chart-preloader {
    width: 100%;
    display: inline-block;
    text-align: center;
    background: rgba(237, 237, 237, 0.3);
    border: 1px solid #ebebeb;
	min-height:300px;
}

.cmc-chart img.cmc-preloader {
    width: 15%;
	opacity:0.7;
	margin-top:75px;
}

.cmc-chart .amcharts-chart-div a[title="JavaScript charts"] {
    top: inherit!important;
    bottom: 30px!important;
    box-shadow: none;
    font-size: 9px !important;
    color: #a7a7a7!important;
    right: 5px!important;
    left: inherit!important;
}

.cmc-chart .amcharts-period-selector-div fieldset {
    margin-bottom: 5px;
}

.cmc-chart .amcharts-scrollbar-chart-div .amcharts-chart-div a,
.cmc-chart .amcharts-stock-panel-div-stockPanel1 .amcharts-chart-div a {
    display: none !Important;
}

.cmc-chart .amcharts-export-menu-top-right {
    top: 35px;
}

.cmc-chart input.amChartsButton.amcharts-period-input,
.cmc-chart input.amChartsButtonSelected.amcharts-period-input-selected {
    background: #efefef;
    color: #222;
    padding: 7px;
    margin: 0 2px;
    border: 1px solid #dddddd;
    font-family: inherit;
    font-size: 13px;
	border-radius:0;
}

.cmc-chart input.amChartsButton.amcharts-period-input:hover {
    background: #323232;
    color: #fff;
}

.cmc-chart input.amChartsButtonSelected.amcharts-period-input-selected {
    padding: 10px;
    background: #222;
    color: #fff;
}

.cmc-chart input.amChartsInputField.amcharts-start-date-input,
.cmc-chart input.amChartsInputField.amcharts-end-date-input {
    background: #f3f3f3;
    color: #222;
    padding: 3px;
    border-radius: 0px;
    margin: 0 2px;
    border: 1px solid #dddddd;
    font-family: inherit;
    font-size: 13px;
}

span.cmc_affiliate_links {
    display: inline-block;
    width: 100%;
    margin: 10px auto 20px;
}

span.cmc_affiliate_links a {
    width: 48%;
    padding: 10px 0;
    text-align: center;
    display: inline-block;
    color: #fff;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: none;
    text-decoration: none;
    box-shadow: 1px 1px 1px 0 #8c8c8c;
}

span.cmc_affiliate_links a.cmc_buy {
    background: green;
    margin-right: 2%;
}

span.cmc_affiliate_links a.cmc_sell {
    background: red;
    margin-left: 2%;
    float: right;
}

span.cmc_affiliate_links a:hover {
    opacity: .9;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

span.twitter-typeahead input.typeahead {
    padding: 0 5px;
    margin: 0;
    height: 48px;
    border: 1px solid #ddd;
    background-color: #ccc;
}

input.typeahead.tt-input {
    color: #222;
}

input.tt-hint {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #ccc;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #428bca;
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    width: auto;
    min-width: 245px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-menu a {
    text-decoration: none;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

.cmc_price_conversion {
    display: inline-block;
    width: 78px;
    margin: 15px 7px 15px 0;
    vertical-align: middle;
    padding: 0;
}

.cmc_price_conversion select {
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 0% 0% / auto repeat scroll padding-box border-box rgb(247, 247, 247);
    border: 1px solid #ddd;
    color: #6d6d6d;
    border-radius: 2px;
    height: 48px;
    padding: 0 5px;
	-moz-appearance:menulist !IMPORTANT; /* Firefox */
    -webkit-appearance:menulist !IMPORTANT; /* Safari and Chrome */
    appearance:menulist !IMPORTANT;
    margin: 0;

}

.cmc_search {
    display: inline-block;
    padding: 0;
    margin: 15px 0;
    vertical-align: middle;
    width: calc(40% - 85px);
}

.cmc_pagi {
    display: inline-block;
    padding: 0;
    margin: 15px 0;
    vertical-align: middle;
    width: 58%;
}

.cmc_pagi,
.cmc_p_wrp {
    text-align: right;
}

.cmc_p_wrp {
    width: 100%;
}

#cryptocurency-market-cap-wrapper {
    width: 100%;
    margin: 0 auto 10px;
    padding: 0;
    display: inline-block;
    clear: both;
}

#cryptocurency-market-cap-wrapper tbody .cmc_coin_logo {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

#cryptocurency-market-cap-wrapper tbody .cmc_coin_logo img {
    max-width: 20px;
    height: 20px;
    overflow: hidden;
	vertical-align:middle;

}

#cryptocurency-market-cap-wrapper tbody .cmc-name {
    display: inline-block;
    line-break: break-word;
    word-wrap: break-word;
    text-align: left;
    float: left;
}

#cryptocurency-market-cap-wrapper tbody .cmc_coin_name {
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 700;
    word-wrap: break-word;
}

#cryptocurency-market-cap-wrapper tbody .cmc-price {
    text-align: left;
    float: left;
	padding:1px;
	border-radius:3px;
}

#cryptocurency-market-cap-wrapper tbody .cmc-price,
#cryptocurency-market-cap-wrapper tbody .cmc_live_vol,
#cryptocurency-market-cap-wrapper tbody .cmc_live_cap,
#cryptocurency-market-cap-wrapper tbody .cmc-changes,
#cryptocurency-market-cap-wrapper tbody .cmc_live_supply {
    white-space: nowrap;
}

#cryptocurency-market-cap-wrapper tbody .cmc_coin_symbol {
    font-size: 10px;
    display: inline-block;
}

#cryptocurency-market-cap-wrapper tbody .cmc-changes.cmc-up {
    color: green;
}

#cryptocurency-market-cap-wrapper tbody .cmc-changes.cmc-down {
    color: red;
}

#cryptocurency-market-cap-wrapper tbody .cmc-coin-chart {
    display: inline-block;
    text-align: center;
}

#cryptocurency-market-cap-wrapper tbody .small-chart-area {
    display: inline-block;
    height: 40px;
    width: 135px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
}

/*Chart Pre-loader*/
.cmc_spinner {
 
  text-align: center;
}

.cmc_spinner > div {
  width:12px;
  height:12px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.cmc_spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.cmc_spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/*Chart Pre-loader*/

img.cmc-small-preloader {
    width: auto;
    height: 40px;
	opacity:0.7;
}

#cryptocurency-market-cap-wrapper tbody .cmc-coin-chart img {
    filter: saturate(5);
    border: 1px solid #ddd;
    width: 135px;
    height: 40px;
}

#cryptocurency-market-cap-wrapper tbody tr:hover .cmc-coin-chart img {
    filter: invert(90%);
    border: 1px solid #ffc714;
}

#cryptocurency-market-cap-wrapper .DTFC_LeftBodyLiner {
    overflow: hidden !Important;
}

#cryptocurency-market-cap-wrapper .dataTables_scrollBody::-webkit-scrollbar {
    cursor: pointer;
}

#cryptocurency-market-cap-wrapper .dataTables_scrollBody::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#cryptocurency-market-cap-wrapper .dataTables_scrollBody::-webkit-scrollbar-thumb {
    background: #999;
}

#cryptocurency-market-cap-wrapper .dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
    background: #444;
}

div#coin-market-cap-widget_filter,
div#coin-market-cap-widget_length,
div#coin-market-cap-widget_info,
div#coin-market-cap-widget_paginate {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #222;
    margin: 0 auto;
    line-break: auto;
    word-wrap: break-word;
}

div#coin-market-cap-widget_filter,
div#coin-market-cap-widget_paginate {
    float: right;
}

div#coin-market-cap-widget_length label,
div#coin-market-cap-widget_filter label {
    display: inline-block;
    padding: 0;
    margin: 0;
}

div#coin-market-cap-widget_length label select,
div#coin-market-cap-widget_filter label input[type="search"] {
    display: inline-block;
    max-width: 150px;
    margin: 0 4px 10px;
    height: 40px;
}

div#coin-market-cap-widget_paginate a {
    border: 1px solid #ddd;
    background: #f9f9f9;
    text-decoration: none;
    box-shadow: none;
    padding: 5px;
    margin: 2px 4px;
    cursor: pointer;
    display: inline-block;
    color: #636363;
    min-width: 32px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    float: left;
}

div#coin-market-cap-widget_paginate span.ellipsis {
    float: left;
}

div#coin-market-cap-widget_paginate a:hover {
    background: #fff;
}

.cmc-search-sugestions a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    box-shadow: none;
    font-size: 12px;
}

.cmc-search-sugestions img {
    display: inline-block !IMPORTANT;
    height: 16px;
    width: 16px;
    margin-right: 5px;
	vertical-align: middle;
}

.cmc_coin_details {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.cmc_coin_details .ticker-name {
    text-align: center;
}

.cmc_coin_details li {
    float: left;
    list-style: none;
    margin: 4px 12px;
    min-height: 90px;
}

.cmc_coin_details li strong:nth-of-type(1) {
    background: #f1f1f1;
    padding: 1px 5px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    border: 1px solid #eee;
    color: #3c3c3c;
    margin-bottom: 3px;
    margin-top: 3px;
}

.cmc_coin_details li .ticker-name strong {
	background:none;
	border:0;
}

.cmc_coin_details li span.ticker-price {
    font-size: 1.5em;
}

.cmc_coin_price_change .cmc-up {
    color: green;
}

.cmc_coin_price_change .cmc-down {
    color: red;
}

.cmc-extra-info {
    display: inline-block;
    width: 100%;
    clear: both;
}

.cmc-extra-info ul {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.cmc-extra-info ul a {
    display: table;
    width: Calc(11% - 2px);
    height: 50px;
    vertical-align: middle;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 5px;
    margin: 0;
    line-height: 13px;
    box-sizing: border-box;
    float: left;
    background-repeat: no-repeat!important;
    background-position: left !Important;
    background-size: 38px auto!important;
    font-size: 10px;
    padding-left: 32px;
    color: #474747;
    -webkit-transition: background-size 1s;
    transition: background-size 1s;
    box-shadow: 1px 1px 6px -2px #878787;
}

.cmc-extra-info ul a li {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-size: 10px;
    font-weight: 700;
    line-height: 13px;
}

.cmc-extra-info ul a:nth-child(n+6) {
    border-bottom: 0;
}

.cmc-extra-info ul a:nth-child(5) {
    border-right: 0;
}

.cmc-extra-info ul a.blockexplorer {
    background: url(../../images/blockexplorer.png);
}

.cmc-extra-info ul a.firstannounced {
    background: url(../../images/firstannounced.png);
}

.cmc-extra-info ul a.facebook {
    background: url(../../images/facebook.png);
}

.cmc-extra-info ul a.twitter {
    background: url(../../images/twitter.png);
}

.cmc-extra-info ul a.github {
    background: url(../../images/github.png);
}

.cmc-extra-info ul a.reddit {
    background: url(../../images/reddit.png);
}

.cmc-extra-info ul a.youtube {
    background: url(../../images/youtube.png);
}

.cmc-extra-info ul a.whitepaper {
    background: url(../../images/whitepaper.png);
}

.cmc-extra-info ul a.website {
    background: url(../../images/website.png);
}

.cmc-extra-info ul a:hover {
    color: #777;
    background-size: 42px auto!important;
    box-shadow: 1px 1px 6px -2px #878787;
}

#ctf a,
a.paginate_button {
    box-shadow: none;
}

.cmc-preloader {
    display: none;
}

table.dataTable thead .sorting {
    background: none!important;
}

i.fa.fa-arrow-up.cmc-up {
    color: green;
}

i.fa.fa-arrow-down.cmc-down {
    color: red;
}

.ccpw-preloader {
    display: none;
}

.cmc_pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 4px;
}

.cmc_pagination>li {
    display: inline;
    padding: 0;
    margin: 0;
}

.cmc_pagination>li>a,
.cmc_pagination>li>span {
    position: relative;
    float: left;
    padding: 12px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    box-shadow: none;
    font-size: 13px;
    height: 48px;
}

.cmc_pagination>li:first-child>a,
.cmc_pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.cmc_pagination>li:last-child>a,
.cmc_pagination>li:last-child>span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.cmc_pagination>li>a:hover,
.cmc_pagination>li>span:hover,
.cmc_pagination>li>a:focus,
.cmc_pagination>li>span:focus {
    z-index: 2;
    background-color: #eee;
    border-color: #ddd;
}

.cmc_pagination>.active>a,
.cmc_pagination>.active>span,
.cmc_pagination>.active>a:hover,
.cmc_pagination>.active>span:hover,
.cmc_pagination>.active>a:focus,
.cmc_pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}

.cmc_pagination>.disabled>span,
.cmc_pagination>.disabled>span:hover,
.cmc_pagination>.disabled>span:focus,
.cmc_pagination>.disabled>a,
.cmc_pagination>.disabled>a:hover,
.cmc_pagination>.disabled>a:focus {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

.cmc_pagination-lg>li>a,
.cmc_pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.cmc_pagination-lg>li:first-child>a,
.cmc_pagination-lg>li:first-child>span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.cmc_pagination-lg>li:last-child>a,
.cmc_pagination-lg>li:last-child>span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.cmc_pagination-sm>li>a,
.cmc_pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.cmc_pagination-sm>li:first-child>a,
.cmc_pagination-sm>li:first-child>span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.cmc_pagination-sm>li:last-child>a,
.cmc_pagination-sm>li:last-child>span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.widget table#cmc_top-gainer-lossers th, .widget table#cmc_top-gainer-lossers td {
    font-size: 12px;
    max-width: 32% !IMPORTANT;
    white-space: unset !important;
}

table#cmc_top-gainer-lossers th, table#cmc_top-gainer-lossers td {
    max-width: 32% !IMPORTANT;
    white-space: unset !important;
}

/* Desktop / Bigger screen Styles - START */
@media only screen and (min-width:640px) {
	
	.price-plus .cmc-price {
		background-color: #099b3d !Important;
		color: #fff !Important;
	}

	.price-minus .cmc-price {
		background-color: #d61147 !Important;
		color: #fff !Important;
	}
	
}
/* Desktop / Bigger screen Styles - END */


/* All Responsive Styles START */

@media only screen and (max-width:640px) {
    .cmc-desktop {
        display: none;
    }
    div#coin-market-cap-widget_filter,
    div#coin-market-cap-widget_paginate {
        float: left;
    }
    .cmc_pagi,
    span.twitter-typeahead,
    span.twitter-typeahead input.typeahead {
        width: 100%;
    }
    .cmc_search {
        width: calc(100% - 90px);
    }
    /*datatable Responsive styles */
    div[id*="cmc_"].dataTables_wrapper div.dataTables_length,
    div[id*="cmc_"].dataTables_wrapper div.dataTables_filter,
    div[id*="cmc_"].dataTables_wrapper div.dataTables_info,
    div[id*="cmc_"].dataTables_wrapper div.dataTables_paginate {
        text-align: left;
        float: none;
        width: 100%;
    }
    div[id*="cmc_"].dataTables_wrapper div.dataTables_filter input {
        width: 170px !important;
    }
    div[id*="cmc_"].dataTables_wrapper table.dataTable th {
        font-size: 13px;
        font-weight: 700;
        text-align: center;
        padding: 5px;
    }
    div[id*="cmc_"].dataTables_wrapper table.dataTable td {
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }
    div[id*="cmc_"].dataTables_wrapper .DTFC_LeftBodyWrapper,
    div[id*="cmc_"].dataTables_wrapper .DTFC_LeftHeadWrapper {
        border-right: 1px solid #828282;
        box-shadow: 1px 0px 2px #9b9b9b;
    }
    div[id*="cmc_"].dataTables_wrapper table.dataTable tr td:nth-of-type(3),
    div[id*="cmc_"].dataTables_wrapper table.dataTable tr th:nth-of-type(3) {
        padding-left: 15px;
    }
    div[id*="cmc_"].dataTables_wrapper table td:nth-of-type(1),
    div[id*="cmc_"].dataTables_wrapper table th:nth-of-type(1) {
        min-width: 18px !important;
        max-width: 20px !important;
        width: 20px;
        padding-right: 10px !Important;
    }
    div[id*="cmc_historical"].dataTables_wrapper table td:nth-of-type(1),
    div[id*="cmc_historical"].dataTables_wrapper table th:nth-of-type(1) {
        width: auto !important;
        min-width: 52px !important;
        max-width: 56px !important;
    }
    div[id*="cmc_"].dataTables_wrapper table td:nth-of-type(2),
    div[id*="cmc_"].dataTables_wrapper table th:nth-of-type(2) {
        min-width: 70px !important;
        width: 85px;
        max-width: 85px !important;
        white-space: unset;
        word-wrap: break-word;
        word-break: break-word;
        text-align: left;
    }
    div[id*="cmc_historical"].dataTables_wrapper table td:nth-of-type(2),
    div[id*="cmc_historical"].dataTables_wrapper table th:nth-of-type(2) {
        min-width: 46px !important;
        width: 56px;
        max-width: 58px !important;
    }
	
	div[id*="cmc_top-gainer-lossers"].dataTables_wrapper table.cmc-top-basic td:nth-of-type(1),
	div[id*="cmc_top-gainer-lossers"].dataTables_wrapper table.cmc-top-basic th:nth-of-type(1),
	div[id*="cmc_top-gainer-lossers"].dataTables_wrapper table.cmc-top-basic td:nth-of-type(2),
	div[id*="cmc_top-gainer-lossers"].dataTables_wrapper table.cmc-top-basic th:nth-of-type(2) {
		width: auto !important;
		min-width:inherit !important;
		max-width:62px !important;
	}
	
	.amChartsPeriodSelector.amcharts-period-selector-div div:nth-of-type(1) {
		display: none !IMPORTANT;
	}
}

@media only screen and (max-width:640px) {
    .cmc-extra-info ul a {
        width: Calc(50% - 2px);
        background-size: auto 90%!important;
    }
    .cmc-extra-info ul a:hover {
        background-size: auto 100%!important;
    }
}

@media only screen and (max-width:640px) {
    .cmc_calculator_block:first-child {
        width: 100% !Important;
        margin: 0 0 20px !Important;
    }
    .cmc_calculator_block {
        width: 49% !important;
        margin-right: 1% !Important;
    }
    .cmc_calculator h2,
    .cmc_calculator h2 div.equalsto {
        font-size: 16px;
    }
    .cmc_calculator h2 div.equalsto {
        margin: 0 5px;
    }
}

@media only screen and (max-width:767px) {
    #cryptocurency-market-cap-wrapper .DTFC_LeftBodyWrapper {
        border-right: 2px solid #ccc!important;
    }
    #cryptocurency-market-cap-wrapper tbody .cmc_coin_name {
        font-size: 9px;
    }
    #cryptocurency-market-cap-wrapper th,
    #cryptocurency-market-cap-wrapper tbody td {
        font-size: 13px;
    }
    #cryptocurency-market-cap-wrapper th:first-child {
        padding-right: 18px;
        font-size: 10px;
    }
    #cryptocurency-market-cap-wrapper #cmc-top-gainer-lossers_wrapper th:first-child {
        padding-right: 28px;
        font-size: 13px;
    }
    div#coin-market-cap-widget_filter,
    div#coin-market-cap-widget_length,
    div#coin-market-cap-widget_info,
    div#coin-market-cap-widget_paginate {
        text-align: left !Important;
        width: 100%;
        font-size: 14px;
    }
    div#coin-market-cap-widget_length label select,
    div#coin-market-cap-widget_filter label input[type="search"] {
        height: 20px;
        font-size: 12px;
        padding: 1px;
        margin: 0 4px 5px;
    }
}


/* All Responsive Styles END */